/*--- Aside ---*/

.aside {
    min-width: fit-content;

    &__navigation {
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__item {
        display: flex;
    }

    &__link {
        width: 100%;
        font-size: 18px;
        text-decoration: underline;
        text-align: center;
        padding: 10px;
    }
}

/*--- Aside end ---*/
