@import "nullstyle";

@import "base";

.main {
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 10px;
    }
}

@import "header";
@import "navigation";
@import "aside";
@import "article";
@import "about";
@import "emploees";
@import "footer";
